@model CoreTest.Web.Models.ProductListVM
@{
    Layout = "~/Views/_Layout.cshtml";
}

<table class="table table-responsive">
    <tr>
        <td>Product Name</td>
        <td>Unit Price</td>
        <td>Units in Stock</td>
    </tr>
    @foreach (var item in Model.Products)
    {
        <tr>
            <td>@item.ProductName</td>
            <td>@item.UnitPrice</td>
            <td>@item.UnitsInStock</td>
        </tr>
    }
</table>
